<%- include("header") -%>

<h2> This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel cumque 
    minus sint facilis similique repellat, ab esse dolore corporis 
    eligendi praesentium quae at dicta quidem distinctio, natus cupiditate
     temporibus? Iure!</p>

 <%- include("footer")    -%>